<h3 style="margin: 50px 0 30px 0">Contact Information</h3>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Address</div>
      <div class="panel-body">
        76 Le Lai St., District 1, HCMC <br/>
        Tel: (08) 00 00 00 00 <br/>
        Fax: (08) 99 99 99 99 <br/>
        Email : res.sales@rubyrestaurant.com
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5318932876467!2d106.6921776148007!3d10.77051409232557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3e873319fd%3A0x709aefbe60525737!2zQUIgVG93ZXIsIDc2IEzDqiBMYWksIELhur9uIFRow6BuaCwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1449342295117" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>